html {
  height: 100%;
}

body {
  height: 100%;
}

.full {
  height: 100%;
}

#events {
  float: right;
  width: 30%;
  background: white;
}

#map_canvas {
  width: 70%;
  float: left;
}

#header {
  background: #CF4228;
  color: white;
  opacity: 0.8;
}

li {
  border-bottom: dashed 2px #cccccc;
  list-style-type: none;
}

.sidebar {
  width: 3px;
  height: 100%;
  float: left;
  background-color: red;
}
