/* @group Base */
.chzn-container {
  background-color: #fff;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  background-color: #fff;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0 0 0 8px;
  text-decoration: none;
}
.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url('/static/js/chosen-sprite.png') right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
}
.chzn-container-single .chzn-single div b {
  background: url('/static/img/chosen-sprite.png') no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}

.chzn-container-single .chzn-search input {
  margin: 1px 0;
  font-family: sans-serif;
  outline: none;
  height: 22px;

  /* Avoid shorthand for padding - IE bug: http://prax.is/misc/ie8-bug-css-padding-input-element.html */
  padding: 4px;

  border: 1px solid #ccc;
  border-top: 1px solid #aaa;

  background: #fcfcfc;
 }


.chzn-container-single .chzn-search input:focus {
  background: #fff;
  outline: none;
 }

.chzn-container-single .chzn-drop {
 -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 300px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  opacity: 1.0 !important;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  color: #000;
  background: #eee;
}
.chzn-container .chzn-results li em {
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  font-style: normal;
}
.chzn-container .chzn-results .no-results {
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #000;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 20px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {

}


.chzn-container-active .chzn-single-with-drop {
  background-color: #fff;
}
.chzn-container-active .chzn-single-with-drop div {
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
  border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #000 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
}

.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
.chzn-rtl { direction:rtl;text-align: right; }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; }
.chzn-rtl .chzn-single div {
  left: 0; right: auto;
  border-left: none; border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius   : 4px 0 0 4px;
  border-radius        : 4px 0 0 4px;
}
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
/* @end */
