html {
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}

#footer{
  color: #fff;
  opacity: 0.85;
  background-color: #C21A00;
  font-size: 14px;
}

#footer a {
  color: #fff;
  font-weight: bold
}
.title-strip {
  background-color: #66c0ff;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  display: block;
  opacity: 0.95;
  padding: 10px;
}

#map_canvas {
  width: 100%;
  float: left;
  height: 220px;
  position: relative;
}

@media (max-width: 767px) {
#map_canvas {
  display: none;
}
}

input:focus {
  outline: none;
}

#header {
  opacity: 0.95;
  height: 80px;
  background: #46E312;
  position: relative;
  z-index: 200;
}

@media (max-width: 767px) {
  #header {
    height: 50px;
    background: #fff;
    position: relative;
    z-index: 200;
  }
}

.events li {
  list-style-type: none;
  padding: 10px;
}

.selected {
  background-color: #eef8ff;
  cursor: pointer;
}

.lead-in {
  text-align: right;
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  margin-right: -10px;
}

a {
    color: #0096FF;
}

.search {
  margin-top: 20px;
}

.city-search {
  width: 100%;
}

#event-details {
  padding: 20px;
}
