html {
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}

#map_canvas {
  width: 100%;
  float: left;
  height: 375px;
  position: relative;
}

@media (max-width: 767px) {
#map_canvas {
  display: none;
}
}

input:focus {
  outline: none;
}

#header {
  opacity: 0.9;
  height: 90px;
  background: #1CC500;
  position: relative;
  z-index: 200;
}

@media (max-width: 767px) {
  #header {
    height: 50px;
    background: #fff;
    position: relative;
    z-index: 200;
  }
}

.events li {
  list-style-type: none;
  padding:px;
}

.selected {
  background-color: #EEEEEE;
  cursor: pointer;
}

.lead-in {
  text-align: right;
  margin-top: 5px;
}

.search {
  margin-top: 20px;
}

.city-search {
  width: 100%;
}

#event-details {
  border-bottom: 2px #eee solid;
  padding: 20px;
}
