html {
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}

#footer{
  color: #fff;
  font-size: 14px;
}

#footer a {
  color: #fff;
  font-weight: bold
}
.title-strip {
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-weight: normal;
  display: block;
  padding: 10px;
}

#map_canvas {
  width: 100%;
  float: left;
  height: 300px;
  position: relative;
}

@media (max-width: 767px) {
  #map_canvas {
    display: none;
  }
}

input:focus {
  outline: none;
}

.red {
  background-color: #C21A00;
}

.opaque  {
  opacity: 0.7;
}

.opaque-title {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .opaque-title {
    opacity: 1;
  }
}

.blue {
  background-color: #66c0ff;
}

#header {
  height: 80px;
  position: relative;
  z-index: 200;
}

@media (max-width: 767px) {
  #header {
    height: 50px;
    background: #fff;
    position: relative;
    z-index: 200;
  }
}

.events li {
  list-style-type: none;
  opacity: 0.9;
  padding: 10px 10px 10px 40px;
}

.flag li {
  background: url('/static/img/flag.png') left center no-repeat;
}

.marker li {
  background: url('/static/img/marker.png') left center no-repeat;
}

.events li:hover {
  background-color: #eef8ff;
  cursor: pointer;
}
.lead-in {
  text-align: right;
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
  margin-right: -10px;
}

a {
    color: #0096FF;
}

.search {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .search {
    margin-top: 0px;
  }
}

.city-search {
  width: 100%;
  opacity: 1;
}

#event-details {
  padding: 20px;
}


/* Event List Customization */

.info-container {
  line-height: 24px;
}

.event-title {
  font-weight: bold;
  font-size: 20px;
}

.event-info {

}

.event-dates {
  opacity: .7;
}

#event-details-container {
  display: none;
}

/* Event Details Customization */
.details-container {
}

.details-title {
  line-height: 35px;
  font-size: 26px;
  color: #000;
  opacity: .65;
  padding-bottom: 5px;
  font-weight: bold;
}

.details-desc {
  padding-top: 20px;

}

ul.details-details {
    padding: 0px;
}

.details-details li:hover {
    cursor: default;
    background-color: inherit;
}

.details-details {

}

li.details-date {
  background: url('/static/img/calendar.png') left center no-repeat;

}

li.details-payment {
  background: url('/static/img/money.png') left center no-repeat;
}

li.details-address {
  background: url('/static/img/map.png') left center no-repeat;
}

a .details-link {

}

li.details-link {
  background: url('/static/img/keyboard.png') left center no-repeat;
}
