<h1>Events</h1>
{% for event in events %}
<form action='/data' method='POST'>
    <input name="address" value="{{ event.address }}">
    <br>
    <input name="title" value="{{ event.title }}">
    <br>
    <input name="start_date" value="{{ event.start_date }}">
    <br>
    <input name="end_date" value="{{ event.end_date }}">
    <br>
    <input name="owner" value="{{ event.owner }}">
    <br>
    <input name="city" value="{{ event.city }}">
    <br>
    <input name="desc" value="{{ event.desc }}">
    <br>
    <input name="link" value="{{ event.link }}">
    <br>
    <input name="featured" value="{{ event.featured }}">
    <br>
    <input name="paid" value="{{ event.paid }}">
    <br>
    <input type="submit">
</form>
<br>
{% endfor %}
