{% include 'includes/header.html' %}
    <div class="row-fluid full">
      <div class="span12 full" id="map_canvas"></div>

			<div id="events" class="full">
        <div id="event-details"></div>

				<div id="area-events">
          <h4>Events in Your Area</h4>
          <ul id="events-list">
            <li id="loading" class="loading">Loading...</li>
          </ul>
        </div>

				<div id="hot-events">
          <h4>Hot Events</h4>
          <ul id="events-list">
            <li id="loading" class="loading">Loading...</li>
          </ul>
        </div>

      </div>
    </div>
{% include 'includes/footer.html' %}
