<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Site Magic</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/chosen.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/mootools-core.js"></script>
    <script type="text/javascript" src="/static/js/mootools-more.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCrJI7ITP-iQhQ3AjAYzcQwVO-rzmaG-0s&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/js/chosen.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
  </head>

  <body>
    <div class="row-fluid red" id="header">
      <div class="search">
        <div class="lead-in span5 hidden-phone">I'm looking for mobile events in </div>
          <div class="span3" id="search-box">
            <select data-placeholder="San Francisco" class="city-search">
              <option value="loading" disabled='disabled'>Loading...</option>
            </select>
          </div>
       </div>
      </div>
